@model IEnumerable<AfterlifeApp.Models.Order>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Orders";
}

<h1 style="text-align:center">Your Orders</h1>

<p style="text-align:center">
    <a asp-action="Create"
        role="button" class="btn btn-outline-primary">
        Make New Order
    </a>
</p>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Download" asp-route-id="@item.Id">Download</a>
            </td>
        </tr>
}
    </tbody>
</table>
